input[type=text ] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}
textarea:focus {
    background-color: lightblue;
	}
input[type=text]:focus {
    background-color: lightblue;
}

input [TYPE=button]:focus {
    background-color: azure;
    gap: 20px;
    column-gap: 15px;
    text-decoration-color: blue;

}